<a href="https://colab.research.google.com/github/Nithin46/PB-Project/blob/main/PB_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import datetime
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
from PIL import Image
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("/content/drive/MyDrive/Project.csv")
print(data.shape)
data.head()

(22916, 12)

  Platform  ...                                        Description
0  Netflix  ...  As her father nears the end of his life, filmm...
1  Netflix  ...  After crossing paths at a party, a Cape Town t...
2  Netflix  ...  To protect his family from a powerful drug lor...
3  Netflix  ...  Feuds, flirtations and toilet talk go down amo...
4  Netflix  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]

In [3]:
data.nunique() # To find unique content on each row

Platform            4
Type                2
Title           22034
Director        10083
Cast            16687
Country           885
Date_added       2051
Release_year      101
Rating            105
Duration          253
Listed_in        1677
Description     22588
dtype: int64

In [4]:
data.isnull().sum() # It will give the Count of each column where NaN is present

Platform            0
Type                0
Title               0
Director         8226
Cast             5305
Country         11455
Date_added       9554
Release_year        0
Rating            863
Duration          482
Listed_in           0
Description         4
dtype: int64

**Cleaning the Data**

From the above result, we can see that director,cast,country,date_added and rating columns have missing values. First, we are handling those missing values.

In [6]:
data.Director.fillna("No Director", inplace=True)
data.Cast.fillna("No Cast", inplace=True)
data.Country.fillna("Country Unavailable", inplace=True)

In [7]:
data.isnull().sum()

Platform           0
Type               0
Title              0
Director           0
Cast               0
Country            0
Date_added      9554
Release_year       0
Rating           863
Duration         482
Listed_in          0
Description        4
dtype: int64